<!-- views/login.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Página de Login</h1>
  
  <form action="/login" method="post">
    <label for="username">Usuario:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit" onclick="showAlert()">Iniciar sesión</button>
  </form>

  <script>
    function showAlert() {
      alert('Login exitoso!');
    }
  </script>

</body>
</html>

